/* general */

body, button, input, select, textarea {
  scroll-behavior: smooth;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.span-highlight {
  font-weight: bold !important;
}

.navbar {
  background-color: #222;
}

.navbar-menu {
  display: flex;
}

a.navbar-item {
  color: #fafafa;
}

/* about specific */
.swiper-container {
  position: relative;
}

.swiper-container p.about-not-mobile {
  position: absolute;
  z-index: 9999;
  width: 70%;
  background-color: #fafafa;
  padding: 20px 45px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1em;
  text-align: justify;
  display: none;
}

p.about-mobile {
  text-align: justify;
}

.swiper-slide img {
  opacity: 1;
}

/* work specific */
.card-image {
  overflow: hidden;
}

.card-image img {
  height: auto !important;
}

.view-gallery {
  display: block;
  margin: 14px 0;
}

@media (min-width: 600px) {
  p.about-mobile {
    display: none;
  }

  .swiper-container p.about-not-mobile {
    display: block;
  }

  .swiper-slide img {
    opacity: 0.65;
  }
}

@media screen and (min-width: 1132px) {

  .swiper-container p {
    width: 70%;
    padding: 20px 45px;
    font-size: 2.3em;
  }

}
